{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Информация о договоре номер {{ contract.number }} <a href="{% url 'contracts:contract_edit' contract.id %}"><b>(Редактировать)</b></a>
      </div>
      <div class="card-body">   
        <ul>
          <li>
            <b>Куратор:</b> {{ contract.curator.get_full_name }}
          </li>
          <li>
            <b>Компания куратора:</b> {{ contract.curator.userprofile.company }}
          </li>
          <li>
            <b>Должность куратора:</b> {{ contract.curator.userprofile.position }}
          </li>
          <li>
            <b>Название:</b> {{ contract.name }}
          </li>
          <li>
            <b>Дата начала:</b> {{ contract.start_date|date:"d E Y" }}
          </li>
          <li>
            <b>Дата окончания:</b> {{ contract.end_date|date:"d E Y" }}
          </li>
          <li>
            <b>Контрагент:</b> {{ contract.partner.title }}
          </li>
          <li>
            <b>Договор:</b>
            <a href="{% url 'contracts:get_contract_file' contract.id %}">Выгрузить</a>
          </li>
          {% if user_group == 'admin_group' or user_group == 'del_contract' %}
          <li>
            <b>Удаление договора из системы:</b>
            <a href="{% url 'contracts:contract_del' contract.id %}">Удалить</a>
          </li>
          {% endif %}
          {% if user_group == 'admin_group' %}
          <li>
            <b>Добавление работников к договору:</b>
            <a href="{% url 'contracts:contract_users' contract.id %}">Добавить</a>
          </li>
          {% endif %}
        </ul>
          Тест 
          <a href="{% url 'contracts:list_contract_users' contract.id%}">JsonResponse</a>
           - вывод списка пользователей имеющих право доступа к договору
        {% if not forloop.last %}<hr>{% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}