{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        <p><form method="post" enctype="multipart/form-data" action="">
              {% csrf_token %}
              <p>{{ form.collaborator }} Работник </p>
              {% if action == 'add' %}
                <p><button type="submit" class="btn btn-primary">Добавить</button></p>
              {% elif action == 'del' %}
                <p><button type="submit" class="btn btn-primary">Удалить</button></p>
              {% endif %}
        </form></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}