{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {{ text|safe }}
        </div>
        <div class="card-body">
          Список доступных договоров: 
          <a href="{% url 'contracts:contract_list' %}">Просмотреть</a>
        </div>
        <div class="card-body">
          Тест 
          <a href="{% url 'contracts:list_curator_contracts' user.id%}">JsonResponse</a>
           - вывод списка договоров куратора
        </div>
        <div class="card-body">
          Тест 
          <a href="{% url 'contracts:list_user_contracts' user.id%}">JsonResponse</a>
           - вывод списка договоров пользователя
        </div>
      </div>
    </div>
  </div>
{% endblock %}